*{
    
    margin: 0;
    padding: 0;
}

body{
  background-color: #9c7ca5;
}

.wrapper{
    width: 70%;
    margin: 0 auto;
}

p{
  color: #fff;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    padding: 1% 0;
    
}

header a{
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid;
    padding: 5px 5px;
    margin: 0 20px;
  }

  .container{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container img{
    padding-right: 200px;
  }

  .text{
    border-radius: 25px;
    background-color: #E6C0E9;
    padding: 20px;
    width: auto;
    height: auto;
    margin-right: 25px;
    margin-left: 25px;
    
  }
  