*{
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    padding: 0;
}

body{
  background-color: #16262E;
  
}

.wrapper{
    width: 70%;
    margin: 0 auto;
}

p{
  color: #C8CAD5;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    padding: 1% 0;
    
}

header a{
    color: #C8CAD5;
    text-decoration: none;
    border-bottom: 1px solid;
    padding: 5px 5px;
    margin: 0 20px;
  }

  header a:hover{
    color: #fff;
  }

  .rooster_vakken{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rooster_vakken img{
    padding-left: 100px;
    padding-right: 100px;
  }

  .text{
    border-radius: 25px;
    background-color: #2E4756;
    padding: 20px;
    width: auto;
    height: auto;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  
  
  .info{
    padding-left: 100px;
  }

  .rooster_vakken{
    border-bottom: #3C7A89 1px solid;
    
    
  }
  main{
    margin-left: 50px;
    margin-right: 50px;
  }

  .blokken_versnellen{
    border-bottom: #3C7A89 1px solid;
  }

.smoelenboekje{
  margin-top: 75px;
}

  .personen{

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;

    margin-bottom: 75px;

}
.personen img{
  width: 125px;
  height: 125px;
  margin-bottom: 25px;
}
.personen p{
  margin-bottom: 10px;
  
}